@if(!loginDisplay) {
<div class="iv-sign-in">
  <iv-card title="Sign in" [style]="{ 'min-width': '400px', padding: '2rem' }">
    <p style="margin-bottom: 1rem">
      Don't have an account? <a href="">Sign up</a>
    </p>
    <form [formGroup]="form" (submit)="onSubmit(form)">
      <div class="form-group">
        <label for="email">Email address *</label>
        <input
          type="text"
          ivInputText
          formControlName="email"
          id="email"
          name="email"
        />
        @if(email.invalid && email.dirty) { @if(email.hasError('required')) {
        <iv-error>This field is required</iv-error>
        } @else if(email.hasError('email')) {
        <iv-error>This email is invalid</iv-error>
        } }
      </div>
      <div class="form-group">
        <label for="password">Password *</label>
        <span class="iv-input-icon-right">
          <input
            [type]="isShowingPassword ? 'text' : 'password'"
            ivInputText
            formControlName="password"
            id="password"
            name="password"
          />
          <i
            class="material-icons-outlined iv-input-icon-clicked"
            (click)="onChangeShowingPassword()"
          >
            {{ isShowingPassword ? 'visibility_off' : 'visibility' }}
          </i>
        </span>
        @if(password.invalid && password.dirty) {
        @if(password.hasError('required')) {
        <iv-error>This field is required</iv-error>
        } }
      </div>
      <iv-button
        [style]="{
          'margin-bottom': '1rem'
        }"
        type="submit"
        label="Submit"
        [block]="true"
      ></iv-button>
    </form>
    <iv-item-center [style]="{ 'margin-bottom': '1rem' }">
      Or continue with
    </iv-item-center>
    <iv-sign-in-with-microsoft
      [style]="{ width: '100%' }"
      (onClick)="loginRedirect()"
    ></iv-sign-in-with-microsoft>
  </iv-card>
</div>
} @else {
<button (click)="logout()">Logout</button>
<router-outlet></router-outlet>
}
