<div class="iv-sign-in">
  <iv-card title="Sign in">
    <p>Don't have an account? <a href="">Sign up</a></p>
    <form [formGroup]="form" (submit)="onSubmit(form)">
      <div class="form-group">
        <label for="email">Email address *</label>
        <input
          type="text"
          ivInputText
          formControlName="email"
          id="email"
          name="email"
        />
      </div>
      <div class="form-group">
        <label for="password">Password *</label>
        <input
          type="password"
          ivInputText
          formArrayName="password"
          id="password"
          name="password"
        />
      </div>
      <iv-button type="submit">Submit</iv-button>
    </form>
  </iv-card>
</div>
<!--
@if(!loginDisplay) {
<button (click)="loginRedirect()">Login</button>
} @else {
<button (click)="logout()">Logout</button>
} -->
